<!-- Logback Configuration. See http://logback.qos.ch/ -->
<configuration>
  <!-- The log file configuration -->
  <appender name="DEV_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <!-- Default encoder is ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %-5level %logger{25}: %msg %X thread=%thread%n</pattern>
    </encoder>

    <!-- Default location of log file is log/dev.log -->
    <file>log/dev.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Roll over log files daily -->
      <fileNamePattern>log/dev.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

      <!-- And start a new file every 64 MB -->
      <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>64MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>

      <!-- Delete log files older than 30 days. Does not limit the
           total number of files. -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <!-- Write all log messages at all levels to a file -->
  <root level="ALL">
    <appender-ref ref="DEV_LOG_FILE" />
  </root>

  <!-- Make java.util.logging more efficient at disabled levels.
       See http://logback.qos.ch/manual/configuration.html#LevelChangePropagator -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
</configuration>
